$softblue: hsl(215, 51%, 70%);
$brightcyan: hsl(178, 100%, 50%);
$mainbackblue: hsl(217, 54%, 11%);
$carddarkblue: hsl(216, 50%, 16%);
$linedarkblue: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
